.slider{
	height: 500px;
	padding-left: 0px;
}
body {
  margin: 0; 
  overflow-x: hidden;
}
.content1{
	height:500px;
	background-color: #f9d1a7;
  margin-top:40px;

}
.content2{
	height:500px;
	background-color: #bdd2a1;
	opacity: 0.5;
  margin-top:40px;

}

.slide{
	height:500px;
}
.img{
	height: 500px !important;
	width: 100%;
}


@import url(http://fonts.googleapis.com/css?family=Lato);

.container
{

  overflow:hidden;
  display:inline-block;
}
.side-bar
{
  background:white;
  position:fixed;
  height: 100%;
  color:black;
  transition: margin-left 0.8s;
}
.logo{
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  position: fixed;
  top:400px;
  
}
.side-bar ul
{
  list-style:none;
  padding:0px;

}

.side-bar ul li.menu-head
{
  font-family: 'Lato', sans-serif;
  padding:20px;
}


.side-bar ul li.menu-head a
{
  color:black;
  text-decoration:none;
  height:50px;
}


.side-bar ul .menu-head  a
{
  color:#fff;
  text-decoration:none;
  height:50px;
}

.side-bar ul .menu li  a 
{
  color:#a18062;
  text-decoration:none;
  display:inline-table;
  width:100%;
  padding-left:21px;
  padding-right:20px;
  padding-top:10px;
  padding-bottom:10px;
  font-size: 40px;
}

.side-bar ul .menu li  a:hover
{
  border-left:3px solid #ECECEA;    
  padding-left:17px;
}

.side-bar ul .menu li   a#menu1:hover 
{
  padding-left:17px;
  border-left:3px solid #ECECEA;
  color: #f2a24d;
}
.side-bar ul .menu li   a#menu2:hover 
{
  padding-left:17px;
  border-left:3px solid #ECECEA;
  color: #f2a24d;
}
.side-bar ul .menu li   a#menu3:hover 
{
  padding-left:17px;
  border-left:3px solid #ECECEA;  
  color: #f2a24d;
}
.side-bar ul .menu li   a#menu4:hover 
{
  padding-left:17px;
  color: #f2a24d;
  border-left:3px solid #ECECEA;

}


.side-bar ul .menu li  a:before {
 position: absolute;
 width: 0;
 height: 0;
 border-left: 7px solid black;

}


.content
{
  position: relative;
  transition: padding-left 0.5s;
  background-color: #648d53;

}

.active > .side-bar
{
  margin-left:-250px;   
  transition: margin-left 0.5s;
}

.active > .content
{
  padding-left:50px;
  transition: padding-left 0.5s;
}
.menu{
  display: block;
  margin-left: 0;
  height: 100%;
}
.process {
  width:80px;
  opacity: 0.9;
}
.processtitle {
  color:white;
  text-align:center;
}
.processsubtitle {
  color:white;
}
.processblocks {
  margin:auto;
}
.processtext {
  color:white;
  text-align: center;
}
.url {
  font-weight: bold;
  color: #a95d68;
}
.weeklymenutitle {
  color:white;

}
.weeklymenusubtitle {
  #
}
.weeklymenutext {
  #
}

.col-centered{
text-align: center;
margin-top: 80px;

}
.dot{
    width: 200px;
    position: absolute;
    top: 180px;
    left: 220px;
}
.text-slider{
  font-size: 20px;
}